<section class="container-fluid">
  <div class="row">
    <div class="col-md-4 slide_left">
      <app-hello></app-hello>
      <app-slide-bar></app-slide-bar>
    </div>
    <div class="col-md-4 main_container">
      <app-navbar></app-navbar>
      <app-main-content></app-main-content>
    </div>
    <div class="col-md-4 slide_right">
      <app-slide-bar-right></app-slide-bar-right>
    </div>
  </div>
</section>

<!-- <section class="container-fluid">
  <app-main-content></app-main-content>
</section> -->
